@import "bootstrap";
@import "font-awesome";
@import "helpers";
@import "nav";
@import "colors";

html {    
  position: relative;
  min-height: 100%;
}

body { 
  margin-bottom: 50px;
  line-height: 1.6;
  color: #1e3948;
  background-color: #f5f8fa;  
}

@font-size-base: 14px;
@font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

.self-center {
  top:45%;
  position:absolute;
  left:50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.login-box {
  border: 1px dotted gray;
  background-color: @brand-primary;
  padding: 25px;
}

.main-body {
  min-height: 100vh
}

.brand-logo {
  height: 40px
}