{{#if adding}}
  <div class="row">
    <div class="col-md-11">
      {{#x-select value=model classNames="form-control"}}
        <option>Select gender</option>
        {{#each genders as |gender|}}
          {{#x-option value=gender}}
            {{gender.genderString}}
          {{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
    {{save-button isValid=isValid}}
  </div>
{{else}}
  <button class="btn btn-primary" {{action 'add'}}>
    Select Gender
  </button>
{{/if}}