<div class="col m4">
  {{#md-card class="blue-grey darken-1 click-fix"}}
    <div class="card-content white-text click-fix">
      <span class="card-title click-fix">{{model.title}}</span>
      <p class="click-fix">{{model.description}}</p>
      <p class="click-fix">Price: {{model.price}}</p>
    </div>
  {{/md-card}}
</div>