<ul class="list-group">
  <li class="list-group-item">
    {{#x-select value=model.detail.industry}}
      {{#each model.industries as |industry|}}
        <option>Select industry</option>
        {{#x-option value=industry}}{{industry.name}}{{/x-option}}
      {{/each}}
    {{/x-select}}
    {{model.detail.industry.name}}
  </li>
</ul>