<nav class="navbar navbar-default">

  <div class="container">

    <div class="navbar-header">
      {{#link-to "index" classNames="navbar-brand"}}
        <img src="assets/images/brand-white.png">
      {{/link-to}}
    </div>

  </div>
</nav>

{{outlet}}

<div class="footer">
  <div class="container">
    <p class="text-center text-muted">
      © {{year}} mYgration
    </p>
  </div>
</div>