{{#if uniqueLocationCommonNames}}
  {{#md-collapsible}}
    {{#each uniqueLocationCommonNames as |name|}}
      {{#collapsible-item title=name}}
        <div class="row">
          {{location-listings countryName=name allProfiles=model}}
        </div>
      {{/collapsible-item}}
    {{/each}}
  {{/md-collapsible}}
{{else}}
  <h4>No listings!</h4>
{{/if}}