<ul class="list-group">
  <li class="list-group-item">
    <div class="row">
      {{model.length}}
    </div>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <div class="row">
      {{#each model as |profile|}}
        {{#each profile.user.listings as |listing|}}
          {{listing-card model=listing owner=false}}
        {{/each}}
      {{else}}
        <h4>No listings!</h4>
      {{/each}}
    </div>
  </li>
</ul>