{{#each uniqueLocationCommonNames as |name|}}
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <h4>{{name}}</h4>
        </div>
        {{location-listings countryName=name allProfiles=model}}
      </div>
    </li>
  </ul>
{{else}}
  <h4>No listings!</h4>
{{/each}}