<div class="row">
  {{#each model as |listing|}}
    {{listing-card model=listing}}
  {{else}}
    <div class="col m12">
      <blockquote>You don't have any listings yet!</blockquote>
      {{#link-to 'me.listings.add'}}
        <button class="btn">
          Add Listing
          <i class="material-icons right">add</i>
        </button>
      {{/link-to}}
    </div>
  {{/each}}
</div>