<ul class="list-group">
  <li class="list-group-item list-group-item-info">
    My Listings
  </li>
  <li class="list-group-item">
    <div class="row">
      {{#each model as |listing|}}
        {{listing-card model=listing}}
      {{else}}
        <h4>You don't have any listings yet!</h4>
        Add Listing
      {{/each}}
    </div>
  </li>
</ul>