{{#if adding}}
  <div class="row">
    {{md-input value=model class="s11" type="number"}}
    {{save-button isValid=isValid}}
  </div>
{{else}}
  <button class="btn" {{action 'add'}}>
    Select Age
  </button>
{{/if}}