<div class="protest">
  <div class="self-center index-box center-align">
    <p>
      <img src='assets/images/full-logo.png'>
    </p>
    <p>
      <button class="btn" {{action "signIn" "facebook"}}>
        <i class="material-icons right">launch</i>
        Login with Facebook
      </button>
    </p>
  </div>
</div>