<div class="self-center login-box">
  <form>
    <div class="form-group">
      {{input class="form-control" type="text" placeholder="Email" value=email}}
    </div>
    <div class="form-group">
      {{input class="form-control" type="password" placeholder="Password" value=password}}
    </div>
    <div class="form-group">
      <button class="btn btn-primary" {{action "loginClick"}}>
        Login
      </button>
    </div>
  </form>      
</div>