<div class="self-center login-box text-center">
  <p>
    <img src='assets/images/brand-white.png' class="brand-logo">
  </p>
  <p>
    <button class="btn btn-default" {{action "signIn" "facebook"}}>
      <i class="fa-facebook"></i>
      Login with Facebook
    </button>
  </p>
</div>