<div class="row">
  <div class="col-md-11">
    {{#x-select value=model classNames="form-control"}}
      <option>Select country</option>
      {{#each countries as |country|}}
        {{#x-option value=country}}
          {{country.name.common}}
        {{/x-option}}
      {{/each}}
    {{/x-select}}
  </div>
  {{save-button isValid=isValid}}
</div>