<div class="row">
  <div class="col m11 input-field">
    {{#x-select value=model classNames="browser-default"}}
      <option>Select country</option>
      {{#each countries as |country|}}
        {{#x-option value=country}}
          {{country.name.common}}
        {{/x-option}}
      {{/each}}
    {{/x-select}}
  </div>
  {{save-button isValid=isValid}}
</div>