{{#if locationCountry}}
  {{listing-editor model=model isNew=true}}
{{else}}
  <p>Which country are you interested in helping people migrate to?</p>
  {{locationcountry-adder profile=me.profile}}
{{/if}}