<div class="row">  
  <div class="col-md-2">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">Me</li>
      {{#link-to "me.preferences" class="list-group-item"}}Preferences{{/link-to}}
      {{#link-to "me.listings.index" class="list-group-item"}}Listings{{/link-to}}
      <a href="" class="list-group-item" {{action 'signOut'}}>Logout</a>
    </ul>
  </div>

  <div class="col-md-10">
    {{outlet}}
  </div>
</div>