{{#if adding}}
  <div class="row">
    <div class="col m11 input-field">
      {{#x-select value=model classNames="browser-default"}}
        <option>Select citizenship</option>
        {{#each countries as |country|}}
          {{#x-option value=country}}
            {{country.demonym}}
          {{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
    {{save-button isValid=isValid}}
  </div>
{{else}}
  <button class="btn" {{action 'add'}}>
    Add Citizenship
    <i class="material-icons right">add</i>
  </button>
{{/if}}